html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* кінець зкидання */










@font-face {
    font-family: Regular;
    src: url(./fonts/PlusJakartaSans-Regular.ttf);
}

html{
    font-family: Regular!important;
}

header{
    background: url(/img/bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 99px;
}
.header-navbar{
    background-color: transparent;
    border-color: transparent;
    padding-top: 15px;
    width: 90%!important;
    margin: auto;
}

.header-navbar-menu>li>a{
    color: White!important;
    font-weight: 100;
    font-size: 12px;
}

.header-navbar-menu>li{
    padding-right: 3px;
}

ul.header-navbar-menu{
    margin-top: 8px;
}
.navbar-menu-button{
    border: 1px solid rgb(231, 92, 115);
    border-radius: 25px;
    padding-right: 0px!important;
    margin-top: 9px;
    margin-left: 10px;
}
li.navbar-menu-button>a{
    color: rgb(231, 92, 115)!important;
    padding: 5px 20px!important;
    text-transform: capitalize;
}
.header-title{
    margin-bottom: 20px;
    /* width: 60%;
    margin: auto; */
}
.header-title-container{
    margin: 220px auto 0px;
    color: white;
}
.header-title h1{
    font-size: 30px;
    text-align: center;
    font-weight: 545;
}
.header-paragraph{
    width: 55%;
    margin: auto;
}
.header-title-container p{
    font-size: 18px;
    color: rgb(156, 153, 180);
    text-align: center;
    font-weight: 100;
}

.header-search{
    width: 44%;
    margin: 80px auto 110px;
}


.search{
    width: 70%;
    padding: 14.25px;
    border-radius: 30px 0 0 30px;
    padding-left: 30px;
    font-size: 18px;
    border: 2px solid white;
    outline: none;
}

.submit{
    width: 30%;
    margin-left: -5px;
    padding: 16px 16px 16px 5px;
    border-radius: 0 30px 30px 0;
    background: rgb(231, 92, 115);
    color: white;
    font-size: 18px;
    border: 2px solid rgb(231, 92, 115);
    outline: none;
}
.chat-box{
    width: 40%;
    margin: auto;
    position: relative;
}
.chat-container{
    height: 270px;
}
.chat{
    background: rgb(241, 231, 231);
    border-radius: 25px;
    /* width: 420px;
    height: 100px; */
}
.chat-user{
    padding: 30px 30px 30px 45px;
    font-size: 18px;
}
.chat-ai{
    padding: 30px 100px 30px 45px;
    font-size: 18px;
}
.chat-user{
    position: absolute;
    left: 20px;
}
.chat-ai{
    position: absolute;
    right: 20px;
    top: 130px;
}
.chat-user img{
    position: absolute;
    left: -40px;
    top: 10px;
    width: 80px;
    height: 80px;
}
.chat-ai img{
    position: absolute;
    right: -40px;
    top: 10px;
    width: 80px;
    height: 80px;
}
.chat>p{
    text-align: left;
}





.row-style{
    padding: 150px 0px 205px!important;
}
.row-container{
    width: 70%;
    margin: auto;
}
.main-body-container{
    margin: 30px 0px 0px 50px;
}

.main-body-header img{
    margin-left: -7px;
    /* width: 100px; */
}
.main-body-header h2{
    font-weight: bold;
    font-size: 30px;  
    margin-bottom: 10px;
}

.main-body-paragraph{
    margin-top: 20px;
    margin-bottom: 23px;
    color: grey;
    width: 90%;
}
.main-body-paragraph p{
    font-size: 15px;
}
.main-body-button button{
    text-decoration: underline;
    background: transparent;
    border: none;
    margin-bottom: 35px;
    color: rgb(241, 95, 120);
    margin-left: -5px;
    font-size: 14px;
}
/* .stats{
    width: 700px;
} */
.stats h2{
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 5px;
}
.stats p{
    font-size: 13px;
    color: grey;
}
.stats-left{
    float: left;
}
.stats-right{
    float: left;
    margin-left: 35px;
    position: relative;
}
.stats-linier{
    background-color: rgb(167, 164, 164);
    width: 2px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: -17px;
}

.img-container img{
    width: 100%;
}

button.main-body-button_read {
    background: rgb(224, 65, 91);
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 25px;
    padding: 15px 50px;
    font-size: 10px;
    outline: none;
    border: none;
}

.main-underline img{
    width: 100%;
}
.p-top h2{
    text-align: center;
    font-weight: bold;
    font-size: 25px;  
}
.p-top p{
    text-align: center;
    color: grey;
    margin: 15px 0px 55px;
}


 #fourth-row-col1{
    margin-bottom: 100px;
}

.fourth-row-footer-first{
    display: table-cell;
}

img.fourth-row-footer-icon1{
    width: 45px;
    height: 48px;
    position: absolute;
    top: 2px;
    left: -5px;
    
}
img.fourth-row-footer-icon2{
    width: 53px;
    height: 42px;
    position: absolute;
    top: 2px;
    left: -11px;
}
img.fourth-row-footer-icon3{
    width: 45px;
    height: 48px;
    position: absolute;
    top: 2px;
    left: -5px;
}

.fourth-row-footer-container{
    margin-left: 33px;
}
.fourth-row-footer-container h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.fourth-row-footer-paragraph p{
    color: grey;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}
.fourth-row-footer-underscore img{
    background-color: grey;
    outline: none;
    width: 100%;
}
.fifth-row-style{
    background-color: rgb(228, 225, 225);
}


@media (min-width:768px) and (max-width:992px){
    .header-navbar-menu>li>a{
        padding: 20px!important;
    }
}

@media (min-width: 320px) and (max-width: 1024px){

.search{
    width: 65%;
}
.submit{
    width: 35%;
}
}

/* @media (max-width:768px){
    .header-search{
        width: 85%;
    }
    .header-user{
        width: 55%;
    }
    .chat{
        padding: 28px;
    }
}

@media (max-width:485px) {
    .header-search{
        width: 90%;
    }
    .header-user{
        width: 60%;
    }
    .chat{
        padding: 20px;
    }
}

@media(min-width:1000px){
    
}

@media(min-width:1200px){
   
} */

