html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* кінець зкидання */










@font-face {
    font-family: Regular;
    src: url(./fonts/PlusJakartaSans-Regular.ttf);
}

html{
    font-family: Regular;
}

header{
    background: url(/img/bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 50px;
}
.header-navbar{
    background-color: transparent;
    border-color: transparent;
    padding-top: 20px;
}
.header-navbar-menu>li>a{
    color: White!important;
    font-weight: bold;
}
ul.header-navbar-menu{
    margin-top: 10px;
}
.navbar-menu-button{
    color: rgb(255, 46, 46)!important;
    border: 1px solid rgb(255, 46, 46);
    border-radius: 25px;
}

.header-title{
    width: 50%;
    margin: 100px auto 0px;
    color: white;
}
.header-title h1{
    font-size: 20px;
    text-align: center;
}
.header-title p{
    font-size: 17px;
    color: rgb(221, 207, 207);
    text-align: center;
}
.header-search{
    width: 60%;
    margin: 60px auto 0px;
}
.search{
    width: 75%;
    padding: 7px;
    border-radius: 20px 0 0 20px;
    padding-left: 25px;
    font-size: 14px;
    border: 2px solid white;
    outline: none;
}
.submit{
    width: 25%;
    margin-left: -5px;
    padding: 9px;
    border-radius: 0 20px 20px 0;
    background: rgb(231, 92, 115);
    color: white;
    font-size: 14px;
    border: 2px solid rgb(231, 92, 115);
    outline: none;
}
.header-user{
    width: 45%;
    margin: 80px auto 0;
}
.chat{
    background: rgb(241, 231, 231);
    margin-top: 10px;
    border-radius: 30px;
    position: relative;
    padding: 35px;
}
.user-text{
    width:90%;
    margin: auto;
}
.chat-left{
    padding-left: 24px;
}
.chat-right{
    padding-right: 24px;
}
.user-text>p{
    text-align: left;
    /* padding-top: 27px;
    padding-left: 48px; */
    /* font-size: 14px; */
}

.user-left{
    left:-20px;
}
.user-right{
    right:-15px;
}
.user-left img{
    position: absolute;
    left: -40px;
    top: 0px;
    width: 80px;
    height: 80px;
}

.user-right img{
    position: absolute;
    right: -40px;
    top: 0px;
    width: 80px;
    height: 80px;
}
.row{
    padding: 170px 0px!important;
}


.paragraph {
    width: 80%;
    margin: 25px 20px;  
}

.paragraph h2{
    font-weight: bold;
    font-size: 25px;   
}
.paragraph img{
    margin: 5px 0px 15px -5px;
}
.paragraph p{
    margin-bottom: 13px;
    color: grey;
}
.p-right button{
    text-decoration: underline;
    background: transparent;
    border: none;
    margin-bottom: 25px;
    color: rgb(241, 95, 120);
    margin-left: -5px;
}
.stats{
    position: relative;
}
.stats h2{
    font-size: 35px;
    font-weight: lighter;
}
.stats p{
    font-size: 13px;
}
.stats-left{
    float: left;
}
.stats-right{
    float: left;
    margin-left: 25px;
}
.linien{
    background-color: rgb(167, 164, 164);
    width: 2px;
    height: 45px;
    position: absolute;
    top: 5px;
    left: 135px;
}

/* .img-2-left img{
    height: 100%;
    width: 100%;
}
.img-2-left{
    height: 350px;
    width: 400px;
    float: right;
    margin-right: 50px;
} */

button.Read-more {
    background: rgb(224, 65, 91);
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 25px;
    padding: 15px 50px;
    font-size: 10px;
}
.main-3-body{
    width: 80%;
    margin: 0px 20px;
    text-align: left;    
}

.img-right{
    margin-left: 50px;
}

.main-underline{
    width: 80%;
    margin: auto;
}
.main-underline img{
    width: 100%;
}
.p-top h2{
    text-align: center;
    font-weight: bold;
    font-size: 25px;  
}
.p-top p{
    text-align: center;
    color: grey;
    margin: 15px 0px 55px;
}

.fourth-row-footer{
    display: table;
}
 #fourth-row-col1{
    margin-bottom: 100px;
}

#fourth-row-footer-col{
    display: table-cell;
}
img.fourth-row-footer-icon1{
    width: 45px;
    height: 48px;
    /* position: absolute;
    top: 2px;
    left: 47px; */
    
}
img.fourth-row-footer-icon2{
    width: 53px;
    height: 42px;
    /* position: absolute;
    top: 2px;
    left: 49px; */
}
img.fourth-row-footer-icon3{
    width: 45px;
    height: 48px;
    /* position: absolute;
    top: 2px;
    left: 40px; */
}
.fourth-row-footer p{
    /* text-align: left; */
    margin-top: 20px;
    font-weight: bold;
}

.fourth-row-footer h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.fourth-row-footer-paragraph{
    float: right;
}
.fourth-row-footer-paragraph p{
    color: grey;
    text-align: left;
}
.fourth-row-footer-underscore img{
    background-color: grey;
    outline: none;
    width: 100%;
}
.fifth-row{
    background-color: rgb(228, 225, 225);
}


@media (min-width:768px)and(max-width:992px){
    .header-navbar-menu {

    }
}


/* @media (max-width:768px){
    .header-search{
        width: 85%;
    }
    .header-user{
        width: 55%;
    }
    .chat{
        padding: 28px;
    }
}

@media (max-width:485px) {
    .header-search{
        width: 90%;
    }
    .header-user{
        width: 60%;
    }
    .chat{
        padding: 20px;
    }
}

@media(min-width:1000px){
    
}

@media(min-width:1200px){
   
} */

